.main-wrapper {
    height: auto;
    width: 100%;
}

.navbar-wrapper {
    height: auto;
    width: 100%;
}

.topnav {
    height: 30px;
    width: 100%;
    background-color: goldenrod;
}

.nav-brandline {
    height: 25px;
    width: 100%;
    color: white;
    font-family: Pooper;
    padding: 5px;
    text-align: center;
}

.navbar {
    padding: 0px 10px !important;
}

.navbar-custom {
    background-color: black;
}

.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.nav-item a:hover {
    background-color: gold;
    color: black;
}