    nav ul li.logo {
        font-size: 30px;
        font-weight: 700;
    }
    
    nav ul li.logo a {
        text-decoration: none;
        color: white;
    }
    
    nav ul div.nav-item {
        display: flex;
        padding: 5px 0px;
    }
    
    nav ul div.nav-item a {
        font-size: 18px;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
    }
    
    .search-bar--form {
        margin: auto;
        max-width: 500px;
    }
    
    nav ul div.nav-item a:hover {
        border-bottom: 2px solid #fac012;
        color: #fac012;
    }
    
    nav ul.search-bar#search-icon {
        cursor: pointer;
    }
    
    .nav-togglebtn {
        display: none;
    }
    
    .banner {
        width: 100%;
        height: 500px;
        background-color: #fac012;
    }
    
    .product-wrapper h2 {
        background-color: black;
        height: 45px;
        color: white;
        text-align: center;
        padding-top: 10px;
    }
    
    .product-category {
        background-color: dimgray;
        height: 40px;
        padding-top: 10px;
        text-align: center;
    }
    
    .product-category ul li {
        display: inline;
        padding: 15px;
    }
    
    .product-category ul li a {
        font-size: 18px;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
    }
    
    .product-category a:hover {
        border-bottom: 2px solid #fdbe00;
        color: #fdbe00;
    }
    
    .product-container {
        height: 270px;
        background-color: #fac012;
        padding: 15px;
    }
    
    .product-card {
        width: 18%;
        position: relative;
        float: left;
        background-color: black;
        height: 250px;
        margin: 10px;
    }
    
    .product-card img {
        display: block;
        width: 100%;
        height: auto;
    }
    
    .product-description {
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        background-color: black;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
    }
    
    .product-card:hover .product-description {
        bottom: 0;
        height: 100%;
    }
    
    .description-text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }